Flask
pydantic
pydantic-settings
python-dotenv
firebase-admin
PyPDF2
PyMuPDF
Werkzeug
google-cloud-storage
google-cloud-firestore
google-auth
google-generativeai
Flask-Cors
flasgger
gunicorn
firebase_functions